@tailwind base;
@tailwind components;

@font-face {
  font-family: "Gilroy";
  src: url("fonts/GilroyBold/font.woff2") format("woff2"),
    url("fonts/GilroyBold/font.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/GilroyExtraBold/font.woff2") format("woff2"),
    url("fonts/GilroyExtraBold/font.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/GilroySemiBold/font.woff2") format("woff2"),
    url("fonts/GilroySemiBold/font.woff") format("woff");
    font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/GilroyLight/font.woff2") format("woff2"),
    url("fonts/GilroyLight/font.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/GilroyRegular/font.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/GilroyMedium/font.woff2") format("woff2"),
    url("fonts/GilroyMedium/font.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Bogue";
  src: url("fonts/BogueExtrabold/font.woff2") format("woff2"),
    url("fonts/BogueExtrabold/font.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Recoleta";
  src: url("fonts/RecoletaBlack/font.woff2") format("woff2"),
    url("fonts/RecoletaBlack/font.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

.grid-container li:hover::before {
  content: "👉";
}
.tutorialSites li:hover {
  color: #5EBD3E;
}
.youTubeChannels li:hover {
  color: #FFB900;
}
.designInspiration li:hover {
  color: #F78200;
}
.otherResources li:hover {
  color: #E23838;
}
.books li:hover {
  color: #973999;
}
.appsAndTools li:hover {
  color: #009CDF;
}

html, body {
  width: 100%;
  height: 100%;
}

.outer-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.footer-wrapper {
  padding-top: 100px;
  padding-bottom: 40px;
}

@tailwind utilities;